name: build w/ SLSA provenance
on:
  workflow_dispatch:

permissions: read-all

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v2.3.4
        with:
          fetch-depth: 0
  # Trusted builder.
  build:
    permissions:
      id-token: write
      contents: read
    needs: checkout
    uses: ianlewis/slsa-github-generator-go/.github/workflows/builder.yml@main
    with:
      go-version: 1.18
